body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.contenedor-dashboar-administrador{
    padding: 0;
    margin: 0;
}

#fila{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#columna-1{
    border-right: 2px solid #f2f2f2;
    height: 100vh;
}

.menuLateral{
  padding: 15px;
}

#columna-1 h1{
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

#columna-1 p{
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

#columna-2 h1, h2{
    color: #333;
}

#columna-2 h2{
    margin-top: 10px;
}

#menuLateral img{
    width: 24px;
    height: auto;
}

#menuLateral {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 50px;
  padding: 8px 12px;
  transition: background-color 0.3s;
  cursor: pointer;
  justify-content: center;
}

.menu-item:hover {
  background-color: #d1d1d1;
}

.textoConfiguracion{
  color: #333 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  display: block !important;       /* Hace que el <a> sea bloque y ocupe todo el ancho */
  width: 100% !important;   
  margin: 0 !important;
  padding: 0;
}

.icon-col {
  flex: 0 0 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.text-col{
  width: 200px;
  height: 100%;
}

.text-col a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: block;       /* Hace que el <a> sea bloque y ocupe todo el ancho */
  width: 100%;    
}

#tblUsuarios{
    max-width: 95%;
}

.text-center {
  text-align: center !important;
}

.btnEditar{
    border: none;
    color: #ffffff;
    background-color: #1E2957;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    width: 60px;
    height: 30px;
    border: 2px solid var(--azulOscuro);
}

.btnEditar:hover{
    background-color: #fff;
    color: #3449a0;
    border: 2px solid #3449a0;
    font-weight: 600;
}

.btnEliminarUsuario{
    border: none;
    color: #ffffff;
    background-color: #af2626;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    width: 80px;
    height: 30px;
    border: 2px solid #af2626;
}

.btnEliminarUsuario:hover{
    background-color: #fff;
    color: #af2626;
    border: 2px solid #af2626;
    font-weight: 600;
}

#columna-4{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  padding-right: 55px;
}

#crearUsuario{
  width: 180px;
  height: 35px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

#crearUsuario:hover{
  background-color: #a1a1a1;
}

#btnCrearUsuario{
  background-color: #1E2957; 
  border: none;
}

#btnCrearUsuario:hover{
  background-color: #3e56b6; 
}

#administradorInicio{
  border-bottom: 2px solid #f2f2f2;
  padding: 15px;
}

#btnRegistrarUsuarioAdministrador{
    background-color: var(--azulOscuro);
    color: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .57);
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border: 2px solid var(--azulOscuro);
}

#btnRegistrarUsuarioAdministrador:hover{
    background-color: #fff;
    color: #3449a0;
    border: 2px solid #3449a0;
}

.formularioInformacionPeronal{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px 0 0 60px;
  
}

.formularioInformacionPeronal form{
  width: 800px;
  margin-top: 10px
}

.btnFormularioInformacionPersonal{
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
}

.btnFormularioInformacionPersonal button{
  background-color: var(--azulOscuro);
  color: #fff;
  border: none;
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .57);
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border: 2px solid var(--azulOscuro);
}

.btnFormularioInformacionPersonal button:hover{
  background-color: #fff;
  color: #3449a0;
  border: 2px solid #3449a0;
}

.listaConfiguración{
  visibility: hidden;
}







