.centrar h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}

.inicioContacto{
    margin-bottom: 30px;
}

.centrar form{
    display: flex;
    flex-direction: column;
}

.contact-info{
    margin: 30px 0;
}

.contact-info h2{
    font-size: 26px !important;
    font-weight: 600;
}

.contact-info hr{
    width: 100%;
    color: #747474;
}

.formularioContacto{
    margin: 30px 0;
    gap: 5px;
}

.formularioContacto h2{
    font-size: 26px !important;
    font-weight: 600;
}

.formularioContacto label{
    font-size: 16px;
    font-weight: 600;  
}

.formularioContacto input{
    width: 340px;
    height: 40px;
    padding: 5px;
    border: 2px solid #a5a5a5;
    border-radius: 5px;
    margin-bottom: 5px;
    outline: none;
}

.formularioContacto textarea{
    width: 400px;
    min-height: 120px;
    padding: 5px;
    border: 2px solid #a5a5a5;
    border-radius: 5px;
    max-height: 300px;
    overflow: hidden;
    outline: none;
}

.botonFormulario{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 30px;
}

.botonFormulario .btnFormularioContacto{
    height: 40px;
    width: 75px;
    background-color: var(--azulOscuro);
    color: #fff;
    border: none;
    border-radius: 7px;
    font-weight: 600;
    font-size: 17px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .57);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.botonFormulario .btnFormularioContacto:hover{
    background-color: #fff;
    color: #3449a0;
    border: 2px solid #3449a0;
    font-weight: 600;
}

.input-error{
    border: 2px solid #ff3636 !important;
}

.input-error::placeholder{
  color: #ff3636 !important;
  opacity: 1 !important;
}