.contenedorIniciar{
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 20px;
    box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25);
    margin: 50px;
}

.contenedorFormulario{
    overflow: hidden;
}

.contenedorFormulario .iniciarUsuaro{
    transition: transform 0.7s ease-in-out;
}

.iniciarUsuaro{
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.inputIngresar{
    width: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    margin-bottom: 15px;
}

.inputIngresar div{
    width: 285px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid #adadad;
    gap: 5px;
    padding-left: 10px;
}

.inputIngresar input{
    color: #7a7a7a;
    outline: none;
    border: none;
}

.inputIngresar input:placeholder-shown{
    color: #7a7a7a;
}

.enlaceContraseña{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    font-size: 15px;
}

.enlaceContraseña label{
    margin-right: 5px;
}

.contenedorUsuario{
    display: flex;
    align-items: center;
}

.contenedorContrasenia{
    display: flex;
    align-items: center;
    position: relative;
}

.iniciarUsuaro h1{
    color: var(--azulOscuro);
    font-weight: 700;
    margin-bottom: 20px;
}

.iniciarUsuaro img{
    width: 25px;
    height: 25px;
}

#imgMostrarContrasenia{
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.7s ease;
}

#imgOcultarContrasenia{
    position: absolute;
    top: 4px;
    visibility: hidden;
    cursor: pointer;
    right: 12px;
    opacity: 0;
    transition: opacity 0.7s ease;
}

#registrarGoogle{
    width: 285px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 2px solid #adadad;
    border-radius: 7px;
    cursor: pointer;
    gap: 15px;
    transition: all 0.3s ease;
}

#registrarGoogle:hover{
    transform: translateY(-1px);
    border: 2px solid #747474;
}

#registrarGoogle img{
    width: 30px;
    height: 30px;
}

#registrarGoogle p{
    font-size: 18px;
    font-weight: 600;
    color: #747474;
    margin-top: 15px;
}

#enlaceRegistrar{
    border: none;
    background-color: #fff;
    color: #346efd;
    display: inline-block;
    text-decoration: underline;
}

#enlaceRegistrar:hover{
    color: #0a58ca;
}

#btnIniciar{
    width: 115px;
    height: 40px;
    background-color: var(--azulOscuro);
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

#btnIniciar:hover{
    background-color: #fff;
    color: #3449a0;
    border: 2px solid #3449a0;
    font-weight: 600;
}

#inputRecordarContraseña{
    width: 15px;
    height: 15px;
    box-shadow: none;
    cursor: pointer;
}

.contenedorIniciar.toggle .iniciarUsuaro{
    transform: translateX(-100%);
}

.contenedorSaludo{
    position: absolute;
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.7s ease-in-out;
}

.contenedorSaludo .saludo{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saludoIniciar{
    height: 100%;
    width: 100%;
}

.contenedorIniciar.toggle .contenedorSaludo{
    transform: translateX(128.5%);
    width: 350px;
}

.contenedorIniciar.toggle .saludoIniciar{
    transform: translateX(-110%);
}

.mensajeIngresar{
    background: linear-gradient(to top, #94a5f0, var(--azulOscuro));
    width: 100%;
    height: 80%;
    color: #fff;
    padding: 40px 40px 0 40px;
    border-radius: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
}

.mensajeIngresar img{
    margin-top: 20px;
}

.mensajeIngresar h1{
    font-size: 38px;
    font-weight: 600;
}

.mensajeIngresar p{
    font-size: 20px;
    font-weight: 500;
}

.mensajeIngresarLogo{
    background-color: var(--azulOscuro);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 20px;
}

.mensajeIngresarLogo img{
    width: 350px;
    height: 90px;
}


